.idea
# Default ignored files
.idea/
/shelf/
*.iml
/workspace.xml
/comfyui-docker-ubuntu.iml
/misc.xml
/modules.xml
/inspectionProfiles/profiles_settings.xml
/vcs.xml
/inspectionProfiles/Project_Default.xml
